<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e20154b8-1c45-4903-a87d-659697f3ede7/resourceGroups/20230914/providers/Microsoft.Web/sites/webmvcobduliokevin/slots/Pruebas</ResourceId>
    <ResourceGroup>20230914</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://webmvcobduliokevin-pruebas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f7161608-ae15-408e-86f7-462abd39da89</ProjectGuid>
    <PublishUrl>https://webmvcobduliokevin-pruebas.scm.azurewebsites.net/</PublishUrl>
    <UserName>$webmvcobduliokevin__Pruebas</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>